/* Self-hosted Google Fonts, SIL OFL 1.1. Licenses: public/fonts/. */
@font-face{font-family:Readex Pro;font-style:normal;font-weight:160 700;font-display:swap;src:url(/fonts/readex-site.woff2) format("woff2")}
@font-face{font-family:Readex Pro Fallback;src:local("Arial");ascent-override:92.30%;descent-override:23.07%;line-gap-override:0.00%;size-adjust:108.34%}
@font-face{font-family:Lemonada;font-style:normal;font-weight:300 700;font-display:swap;src:url(/fonts/lemonada-site.woff2) format("woff2")}
@font-face{font-family:Lemonada Fallback;src:local("Arial");ascent-override:103.20%;descent-override:50.10%;line-gap-override:0.00%;size-adjust:130.33%}
